In [1]:
import pandas as pd

premier15 = pd.read_csv("Vis.-Presentation-Project/Notebooks/DistsAndTeamPerfVsPlayerRating/data/2015-PremierLeague.csv")
premier15.head(14)

            team_name  team_api_id  mean_player_rating  points_per_game
0             Arsenal         9825           77.120651         1.868421
1         Aston Villa        10252           71.835504         0.447368
2         Bournemouth         8678           67.037790         1.105263
3             Chelsea         8455           79.069208         1.315789
4      Crystal Palace         9826           71.482409         1.105263
5             Everton         8668           74.282180         1.236842
6      Leicester City         8197           71.883345         2.131579
7           Liverpool         8650           74.497504         1.578947
8     Manchester City         8456           80.591360         1.736842
9   Manchester United        10260           76.761355         1.736842
10   Newcastle United        10261           71.490939         0.973684
11       Norwich City         9850           71.281810         0.894737
12        Southampton         8466           72.608249         1.657895
13         Stoke City        10194           73.627696         1.342105

In [4]:
import numpy as np
import c3pyo as c3

x = np.around(premier15["mean_player_rating"].values, 1).tolist()
y = np.around(premier15["points_per_game"].values, 1).tolist()
LC = [71.9, 2.1]
CH = [79.1, 1.3]

chart = c3.ScatterChart()
chart.plot(x, y, label='Teams of the Premier League (15/16)', color="gray"
          )
chart.plot([LC[0]], [LC[1]], label='Leicester City, the miracle winner!', color="green"
          )
chart.plot([CH[0]], [CH[1]], label='Chelsea, the disappointment', color="red"
          )
chart.xlabel('Team mean player rating')
chart.ylabel("Points per game")
#chart.title("Season 2015/16, Premier League")
chart.show()